<div class="container">
  <div class="btn-new-config mt-4 mb-3">
    <div style="width: 10%"></div>
    <h1 class="subtitle">
      ADMINISTRACIÓN Y GESTIÓN DE REQUISITOS DE CERTIFICACIÓN
    </h1>
    <button type="button" class="btn btn-info">NUEVO REQUISITO</button>
  </div>
  <hr />

  <div class="row">
    <div class="form-group form-inline d-flex" id="nombre-container">
      <label for="nombre">Nombre:</label>
      <input class="form-control form-control-sm" type="text" id="nombre" />
      <div
        class="form-check form-check-inline d-flex"
        id="check-container"
        style="flex-wrap: wrap; align-items: center"
      >
        <div
          class="form-check form-check-inline d-flex"
          id="check-container"
          style="flex-wrap: wrap; align-items: center"
        >
          <input
            class="form-check-input ml-2"
            type="checkbox"
            id="obligatorio"
          />
          <label class="form-check-label" for="obligatorio">Obligatorio</label>
        </div>
        <div
          class="form-check form-check-inline d-flex"
          id="check-container"
          style="flex-wrap: wrap; align-items: center"
        >
          <input class="form-check-input ml-2" type="checkbox" id="estado" />
          <label class="form-check-label" for="estado">Estado</label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="descripcion">Descripción:</label>
      <textarea class="form-control" id="descripcion" rows="5"></textarea>
    </div>
  </div>

  <div class="form-inline d-flex justify-content-center my-3">
    <button class="btn btn-primary btn-sm mx-2">Atrás</button>
    <button class="btn btn-primary btn-sm mx-2">Guardar</button>
  </div>
</div>
