/* -------------------------- */

h1 {
  text-align: center;
  color: #EE2B7B;
  font-size: 20px;
}
h5{
  color: #EE2B7B;
}

th{
  color: #F8F9F9;
  background:#EE2B7B ;
}
.hr {
  border: 1px solid rgb(189, 187, 187);
  background: rgb(189, 187, 187);
}

.btn-new-config {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btn {
  font-size: 0.9em;
  width: 180px;
  height: 30px;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 0;
}
/* --------------------------tabla */

@media screen and (max-width: 810px) {
  .btn-new-config .btn {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .subtitle {
    width: 100%;
    margin-bottom: 0.5rem;
    justify-content: center;
  }
}
