/* -------------------------- */

h1 {
  text-align: center;
  color: #ee2b7b;
  font-size: 20px;
}
h5 {
  color: #ee2b7b;
}

th {
  color: #f8f9f9;
  background: #ee2b7b;
}
.hr {
  border: 1px solid rgb(189, 187, 187);
  background: rgb(189, 187, 187);
}

.btn-new-config {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btn {
  font-size: 0.9em;
  width: 180px;
  height: 30px;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 0;
}
/* --------------------------tabla */

@media screen and (max-width: 810px) {
  .btn-new-config .btn {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .subtitle {
    width: 100%;
    margin-bottom: 0.5rem;
    justify-content: center;
  }
}


#nombre{
  width: 70%;

}
/* botones */

.btn-primary.btn-sm{
  background-color: rgb(4, 180, 224);
  border: none;
  margin-top: 20px;
}
.form-group {
  margin-top: 20px;
  color: #ee2b7b;
  font-size:15px;
}
.form-check-input {
  width: 20px;
  height: 20px;
}
.form-check-label {
  text-align: center;
  margin-left: 10px;
  color: #ee2b7b;
}

