/* -------------------------- */

h1 {
  text-align: center;
  color: #ee2b7b;
  font-size: 20px;
}
h6 {
  color: #ee2b7b;
}

th {
  color: #f8f9f9;
  background: #ee2b7b;
  border: 1px solid rgba(170, 168, 168, 0.616);
}

.hr {
  border: 1px solid rgba(170, 168, 168, 0.616);
  background:rgba(170, 168, 168, 0.616);
}



.icono {
  color: rgb(2, 157, 196);
}
.btn{
  background:rgb(2, 157, 196) ;
  border: none;
  margin-bottom: 30px;
}
.form-group{
  color: #ee2b7b;

}
.pi-search{
  color: rgb(2, 157, 196);
}
.col-6{
  width: 250px;
}
p-table td {
  border: 1px solid rgba(170, 168, 168, 0.616) ;
  font-size: 14px;
}
